version: "2.2"

services:
  btc-bot:
    build: .
    container_name: btc-trend-breakout-bot
    restart: unless-stopped
    env_file:
      - .env

    volumes:
      - ./data:/app/data
    working_dir: /app
